<% include partials/header %>


 <form action="/input" method="POST">
    <label for="name">Name : </label>
    <input type="text" name="name">
    <label for="Roll No">Roll No :</label>
    <input type="number" name= "roll">
    <button>submit</button>
</form>
<% include partials/footer %>