<% include partials/header %>
<p>All Data Peresent Here </p>
<ul>
    <% for(var i=0; i<crud.length; i++) {%>
       <li><%= crud[i]['name'] %>
        <button>
            <a href="/view/<%= crud[i]['id'] %>">View</a>
        </button></li>
    <% } %>
     </ul>
    <button>
        <a href="/input">Add</a>
    </button>
    <% include partials/footer %>
